- name: Configure Ubuntu system
  hosts: ubuntu
  remote_user: "{{ ansible_user_id }}"
  become: false
  roles:
    - regolith_ubuntu
    - common_ubuntu
    - devtools_ubuntu
    - omz_ubuntu
    # - v2raya_ubuntu
