---
- name: Add v2raya COPR repository
  ansible.builtin.shell: |
    dnf copr enable -y mzz2017/v2raya
  args:
    creates: /etc/yum.repos.d/_copr:copr.fedorainfracloud.org:mzz2017:v2raya.repo
  become: true

- name: Install v2raya and v2ray
  ansible.builtin.shell: dnf install -y --setopt=install_weak_deps=False v2raya v2ray
  become: true
  changed_when: true

- name: Ensure v2raya service is enabled and running
  ansible.builtin.systemd:
    name: v2raya
    enabled: true
    state: started
  become: true

