---
# Manjaro package installation

- name: Update and upgrade all packages
  ansible.builtin.shell: pacman -Syu --noconfirm
  become: true
  changed_when: true

- name: Install common packages
  ansible.builtin.shell: |
    pacman -S --noconfirm --needed base-devel cmake curl git vim unzip htop tmux zsh openssh radeontop lm_sensors smartmontools fontconfig ttf-meslo-nerd-font-powerlevel10k
  become: true
  changed_when: true

- name: Install Tailscale
  ansible.builtin.shell: pacman -S --noconfirm --needed tailscale
  become: true
  changed_when: true
