---
- name: Update pacman cache
  community.general.pacman:
    update_cache: yes
  become: true

- name: Upgrade all packages
  community.general.pacman:
    upgrade: yes
  become: true

- name: Install common packages
  community.general.pacman:
    name:
      - base-devel
      - cmake
      - curl
      - git
      - vim
      - unzip
      - htop
      - tmux
      - openssh
      - radeontop
      - lm_sensors
      - smartmontools
    state: present
  become: true

- name: Install Tailscale
  ansible.builtin.shell: curl -fsSL https://tailscale.com/install.sh | sh
  become: true

- name: Ensure git is configured (user)
  ansible.builtin.git_config:
    name: user.name
    value: "Rainerino"
    scope: global
  become: false

- name: Set git email (user)
  ansible.builtin.git_config:
    name: user.email
    value: "albertyanyy@gmail.com"
    scope: global
  become: false

- name: Check connectivity to raw.githubusercontent.com
  ansible.builtin.command:
    cmd: ping -c1 -W2 raw.githubusercontent.com
  register: ping_result
  changed_when: false
  ignore_errors: true
  become: false

- name: Add hosts entry if raw.githubusercontent.com is unreachable
  ansible.builtin.lineinfile:
    dest: /etc/hosts
    regexp: '^185\.199\.108\.133\s+raw\.githubusercontent\.com'
    line: '185.199.108.133 raw.githubusercontent.com'
    state: present
    backup: yes
  become: true
  when: ping_result is failed

- name: Ensure fontconfig is installed
  community.general.pacman:
    name: fontconfig
    state: present
  become: true

- name: Copy Meslo Nerd Fonts from role files
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "/usr/local/share/fonts/{{ item | basename }}"
    owner: root
    group: root
    mode: '0644'
  loop:
    - "../../common_ubuntu/fonts/MesloLGS NF Regular.ttf"
    - "../../common_ubuntu/fonts/MesloLGS NF Bold.ttf"
    - "../../common_ubuntu/fonts/MesloLGS NF Italic.ttf"
    - "../../common_ubuntu/fonts/MesloLGS NF Bold Italic.ttf"
  register: meslo_download
  become: true

- name: Refresh system font cache
  ansible.builtin.command:
    cmd: fc-cache -fv
  become: true

